{{ define "main" }} 

<!-- 1. 언어별 데이터 파일 선택 로직 추가 -->
{{ $contentFile := .Language.Params.contentData | default "content" }}
{{ $data := index .Site.Data $contentFile }}

{{- partial "menu.html" . -}} 

<!-- =============================
       Start center intro
    =============================== -->
<section class="about-me" id="about">
  <div class="container">
    {{ if $data.center.enable }} 
    {{ with $data.center }}
    <div class="row about-me-holder">
      <div class="
          col-lg-11 col-md-11 col-sm-11 col-11
          about-me-text
          d-flex
          align-self-center
        ">
        <div class="text-holder">
          <h1>{{ .title | safeHTML }}</h1>
        </div>
      </div>
      <div
        class="
          col-lg-8 col-md-8 col-sm-8 col-11
          about-me-text
          d-flex
          align-self-center
        "
      >
        <div class="text-holder">
          <!-- <h1>{{ .title | safeHTML }}</h1> -->
          <h3>{{ .degree | markdownify }}</h3>
          <p>{{ .content | markdownify | emojify }}</p>
          {{ if .button.enable }} {{ with .button }}
          <a
            href="{{ .link | relURL }}"
            target="_blank"
            rel="noreferrer"
            class="button download-cv"
          >
            {{ .label }} <i class="fa fa-download"></i
          ></a>
          {{ end }} {{ end }}
        </div>
      </div>
      {{ with .image }}
      <div class="col-lg-4 col-sm-4 col-10 about-me-images">
        <img src="{{ . | relURL }}" alt="about-me" />
      </div>
      {{ end }}
    </div>
    {{ end }} {{ end }}
  </div>
</section>

<!-- =============================
      End center intro
    =============================== -->

<!-- =============================
       Start Room Image Section
    =============================== -->
{{ if $data.center.enable }}
  {{ with $data.center.image_room }}
  <section class="room-image-section py-5">
    <div class="container text-center">
      <img src="{{ . | relURL }}" class="img-fluid rounded" alt="center room image">
    </div>
  </section>
  {{ end }}
{{ end }}
<!-- =============================
       End Room Image Section
    =============================== -->

{{- partial "footer.html" . -}} {{ end }}
