<div class="footer container text-center" id="contact">
  <ul class="footer-icons list-inline">
    {{ range $.Site.Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noreferrer"
          ><i class="{{ .icon }} footer-icon fa-3x" aria-label="{{ .alt }}"></i
        ></a>
      </li>
    {{ end }}
  </ul>

<div class="credit">

    <div class="remark-group" style="margin-bottom: 5px;"> 
      {{ range $.Site.Params.remark }}
        <p style="margin: 0 0 5px 0;">{{ .remark1 | markdownify }}</p>
      {{ end }}
    </div>
    <div class="remark-group" style="margin-bottom: 25px;"> 
      {{ range $.Site.Params.remark }}
        <p style="margin: 0 0 5px 0;">{{ .remark2 | markdownify }}</p>
      {{ end }}
    </div>

    <div class="address-group" style="margin-bottom: 5px;"> 
      {{ range $.Site.Params.address }}
        <p style="margin: 0 0 5px 0;">{{ .address | markdownify }}</p>
      {{ end }}
    </div>
    <div class="address-group" style="margin-bottom: 25px;"> 
      {{ range $.Site.Params.address }}
        <p style="margin: 0 0 5px 0;">{{ .registnum | markdownify }}</p>
      {{ end }}
    </div>
    
    <div class="copyright-group">
      {{ $.Site.Params.copyright1 | markdownify }}
      <br>
      {{ $.Site.Params.copyright2 | markdownify }}
    </div>

</div>