<div class="footer container text-center" id="contact">
  <ul class="footer-icons list-inline">
    {{ range $.Site.Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noreferrer"
          ><i class="{{ .icon }} footer-icon fa-3x" aria-label="{{ .alt }}"></i
        ></a>
      </li>
    {{ end }}
  </ul>

  <div class="credit" style="position: absolute; bottom: 15px; left: 0; right: 0;">
    
    <div class="remark-group" style="margin-bottom: 25px;"> {{ range $.Site.Params.remark }}
        <p style="margin: 0 0 5px 0;">{{ .remark | markdownify }}</p>
      {{ end }}
    </div>

    <div class="address-group" style="margin-bottom: 25px;"> {{ range $.Site.Params.address }}
        <p style="margin: 0 0 5px 0;">{{ .address | markdownify }}</p>
      {{ end }}
    </div>

    <div class="copyright-group">
      {{ $.Site.Params.copyright | markdownify }}
      <span id="current-year"></span>
    </div>

  </div>
</div>