{{ define "main" }} 

<!-- 1. 언어별 데이터 파일 선택 로직 추가 -->
{{ $contentFile := .Language.Params.contentData | default "content" }}
{{ $data := index .Site.Data $contentFile }}

{{- partial "menu.html" . -}} 

<section class="about-me" id="about">
  <div class="container">
    <div class="row experience-skill">
      <div class="col-lg-10 col-sm-10 col-11 faq-block">
      {{ if $data.faq.enable }} 
      {{ with $data.faq }}
        <h2 style="font-weight: 700; color: #6f6f6f; margin-bottom: 30px;">{{ .title }}</h2>
        <div class="faq-list-wrapper">
          {{ range .faq_list }}
          <div class="faq-item-set clearfix"> 
            <span class="faq-title">Q. {{ .name }}</span>
            <div class="faq-answer">{{ .answer | markdownify | emojify }}</div>
          </div>
          {{ end }}
        </div>
        <div class="faq-answer">
            {{ if eq $.Site.Language.Lang "ko" }}
            이 사이트는 상담 관련 정보를 제공하기 위한 공간입니다.  응급 상황이나 즉각적인 개입이 필요한 위기 상황에 대한 지원은 제공하지 않습니다. 이러한 도움이 필요하신 경우에는 가까운 응급실 또는 지역의 긴급 지원서비스를 이용해 주세요.
            {{ else }}
            This website is intended to provide information about therapy services. Please note that we do not offer support for emergencies or crisis situations requiring immediate intervention. If you need urgent assistance, please contact your nearest emergency room or local crisis support services.
            {{ end }}
        </div>
      {{ end }} {{ end }}
      </div>
    </div>
  </div>

  
</section>


{{- partial "footer.html" . -}} {{ end }}